* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #fc007a, #00e1fd);
    color: #fff;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(0, 20, 255, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    align-items: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 40%;
    transform: translateX(-50%);

}

#hours::after {
    content: 'Hours';
}

#minutes::after {
    content: 'Minutes';
}

#seconds::after {
    content: 'Seconds';
}